.first , .second , .third{
    min-height: 125px;
}

.tenth , .eleventh , .twelfth_thirteenth{
    min-height: 125px;
}

.twelfth , .thirteenth{
    height: 46.5%;
}

.square{
    min-height: 125px;
}

.small_square{
    flex: 0 0 20%;
    max-width: 20%;
}


.light_square{
    background-color: #c9c9c9;
}

.eighth , .ninth , .fifth{
    min-height: 175px;
}

.fourth{
    min-height: 300px;
}

@media (max-width: 768px) {
    .fourth{
        margin-top: 1.5rem;
    }
}